<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Control Center</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            <h1>🏠CONTROL CENTER</h1>
        </header>
        <div class="two-columns">
            <div class="container">
                <h2>💧Watering</h2>
                <div class="buttons">
                    <button id="waterButton">Water</button>
                    <button id="stopButton">Stop</button>
                </div>
            </div>
            <div class="container">
                <h2>📷Camera</h2>
                <img src="{{ url_for('stream') }}">
                <div class="front">
                    <h3>🔧OPTIONS</h3>
                    <label for="model"><strong>Model:</strong></label>
                    <select id="model"">
                        <option>YOLOv5</option>
                        <option>Own model</option>
                    </select>
                    <div class="checkbox">
                        <strong>Function</strong>
                        <ui>
                            <li>
                                <input type="checkbox" id="blur">
                                <label for="blur" class="italic">Blur human face</label>
                            </li>
                            <li>
                                <input type="checkbox" id="detect">
                                <label for="detect" class="italic">Detect objects</label>
                            </li>
                            <li>
                                <input type="checkbox" id="pose">
                                <label for="pose" class="italic">Estimate pose</label>
                            </li>
                        </ui>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>
                💡 Made by <b><i>ksterx</i></b> 💡
                <br>
                <a target="_blank" href="https://github.com/ksterx">GitHub</a>
                /
                <a target="_blank" href="https://twitter.com/afro2men">Twitter</a>
            </p>
        </footer>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
