<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Smarto</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>
        <header>
            <h1>🏠Smarto</h1>
        </header>
        <div class="two-columns">
            <!-- Watering -->
            <div class="container left">
                <h2>💧Watering</h2>
                <div class="buttons">
                    <button id="waterButton">Water</button>
                    <button id="stopButton">Stop</button>
                </div>
                <div class="dropdown">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown link
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </div>
            </div>
            <div class="container right">
                <h2>📷Camera</h2>
                <img src="{{ url_for('stream') }}">
                <form class="front" method="post" action="/">
                    <h4>🔧OPTIONS</h4>
                    <label for="model_name"><strong>Model:</strong></label>
                    <select id="model_name" name="model_name" required>
                        <option value="{{ options.model_name }}" disabled selected>{{ options.model_name }}</option>
                        <optgroup label="YOLO">
                            {% for yolos in yolos %}
                            <option value="{{ yolos }}">{{ yolos }}</option>
                            {% endfor %}
                        </optgroup>
                        <optgroup label="Own model">
                            <option value="dummy">dummy</option>
                        </optgroup>
                    </select>
                    <div class="checkbox">
                        <strong>Functions</strong>
                        <ui>
                            <li>
                                <input type="radio" id="r1" name="im_proc" value="streaming">
                                <label for="r1" class="italic">Streaming</label>
                            </li>
                            <li>
                                <input type="radio" id="r2" name="im_proc" value="object_detection">
                                <label for="r2" class="italic">Object detection</label>
                            </li>
                            <li>
                                <input type="radio" id="r3" name="im_proc" value="pose_estimation">
                                <label for="r3" class="italic">Pose estimation</label>
                            </li>
                            {% for p in proc_status %}
                            <li>
                                {% if p == "false" %}
                                <input type="radio" id="r4" name="im_proc" value="{{ p }}">
                                <label for="r4" class="italic">{{ p }}</label>
                                {% else %}
                                <input type="radio" id="r4" name="im_proc" value="{{ p }}" checked>
                                <label for="r4" class="italic">{{ p }}</label>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ui>
                    </div>
                    <input type="submit" id="apply" value="Apply">
                </form>
            </div>
        </div>
        <footer>
            <p>
                💡 Made by <b><i>ksterx</i></b> 💡
            </p>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://github.com/ksterx">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://twitter.com/afro2men">Twitter</a>
                </li>
            </ul>
        </footer>
        <script src="../static/js/index.js"></script>
    </body>
</html>
